/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@import "bootstrap/dist/css/bootstrap.min.css";

@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  --font-arabic: 'Noto Kufi Arabic', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-arabic);
}

button,
input,
select,
textarea,
table {
  font-family: var(--font-arabic);
}